@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/variables";

.login-form {
  max-width: 500px;

  &__header {
    background: $blue_100;
    color: $blue_10;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 3px;
    padding: 1.0em 0;
    margin: 0 20px;
  }

  &__form {
    background: $blue-grey_10;
    margin: 0 20px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
  }

  &__field{
    width: 80%;
    margin: 8px auto;
    display: flex;
    align-items: center;
  }

  &__input {
    background: none;
    border: none;
    padding: 10px 0;
    display: block;
    flex-grow: 1;
  }

  &__button {
    background: $blue_100;
    position: relative;
    border: none;
    display: block;
    color: $blue-grey_10;
    width: 100%;
    font-size: 1.3em;
    padding: 10px 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 10px;
      width: 10px;
      top: 32px;
      left: -20px;
      border-style: solid;
      border-width: 20px;
      border-color: transparent $blue_100 transparent transparent;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 10px;
      width: 10px;
      top: 32px;
      right: -20px;
      border-style: solid;
      border-width: 20px;
      border-color: transparent  transparent transparent $blue_100;
      z-index: -1;
    }
  }

  &__helper-section {
    color: $blue_grey_40;
    background: $blue-grey_10;
    text-align: center;
    margin: 0 20px;
    padding: 8px 0;
    line-height: 2.5;
  }

  &__link {
    color: $blue_80;
  }

  &__icon {
    color: $blue_grey_70;
    padding-right: 16px;
  }

  /*padding: 1rem;
  border: 1px solid $blue_80;
  border-radius: $border-radius-default;

  .login-form__input {
    display: block;
    margin-bottom: 0.5rem;
  }

  .form-button{
    display: block;
    margin-top: 1rem;
  }*/
}
