@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/variables";

.form-wrapper{
  padding: 1rem;
  border: 1px solid $blue_80;
  border-radius: $border-radius-default;

  .login-form__input {
    display: block;
    margin-bottom: 0.5rem;
  }

  .form-button{
    display: block;
    margin-top: 1rem;
  }
}
