<app-auth-form
  [heading]="'auth.login.title' | translate:translations:currentLang"
  [buttonText]="'auth.login.cta' | translate:translations:currentLang"
  [authForm]="loginForm"
  [backedErrorMessage]="backendErrorMessage && (backendErrorMessage | translate:translations:currentLang)"
  (formSubmit)="onSubmit()"
>
  <ng-template #formTemplate let-form="form">
    <div [formGroup]="form">
      <div class="login-form__field">
        <fa-icon class="login-form__icon"
                 [icon]="['fas','user']"></fa-icon>
        <app-input
          class="login-form__input"
          type="email"
          [noBorder]="true"
          [name]="'email'"
          [placeholder]="'auth.login.email' | translate:translations:currentLang"
          [ariaLabel]="'auth.login.email' | translate:translations:currentLang"
          [formControl]="getFormControl('identifier')"
          [errors]="getErrorsFor('identifier')"></app-input>
      </div>

      <div class="login-form__field">
        <fa-icon class="login-form__icon"
                 [icon]="['fas','unlock-alt']"></fa-icon>
        <app-input
          class="login-form__input"
          type="password"
          [noBorder]="true"
          [name]="'password'"
          [placeholder]="'auth.login.password' | translate:translations:currentLang"
          [ariaLabel]="'auth.login.password' | translate:translations:currentLang"
          [formControl]="getFormControl('password')"
          [errors]="getErrorsFor('password')"></app-input>
      </div>
    </div>
  </ng-template>

  <ng-template #formFooter>
    <div class="login-form__hint">
      <a [routerLink]="['/auth/forgot']" [queryParams]="email ? {email: email} : {}"> {{ 'auth.login.forgot-password' | translate:translations:currentLang}}</a>
    </div>
    <div class="login-form__hint" [innerHTML]="'auth.login.not-registered' | translate:translations:currentLang " >
    </div>
  </ng-template>
</app-auth-form>





