@import "../../../../../styles/settings/variables";
@import "../../../../../styles/settings/colors";
@import "../../../../../styles/mixins/style";
@import "../../../../../styles/settings/functions";


.schedule {
  &__controls {
    display: block;
    margin-bottom: $spacing-medium;
  }

  &__content {
    margin-top: $spacing-large;
    border-radius: $border-radius-default;
    box-shadow: 0 0 rem(18) $blue-grey_10;
  }

  &__heading {
    background: $blue_70;
    padding: $spacing-tiny 0;
    color: #ffffff;
    font-size: $font-size-normal;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      border-top-right-radius: $border-radius-default;
      border-top-left-radius: $border-radius-default;
    }
  }

  &__element {
    padding: $spacing_medium $spacing-small;
    font-size: $font-size-small;
  }

  &__element-wrapper{
    display: flex;
    justify-content: space-between;
  }

  &__element_actions_link {
    text-decoration: none;
    color: $blue-80;

    &:hover {
      color: $blue-100;
    }
  }

  &__element_actions_button {
    background: none;
    border: none;
    color: $blue-80;
    cursor: pointer;

    &:hover {
      color: $blue-100;
    }
  }

  &__add-button {
    background: none;
    border: none;
    color: $blue-100;
    cursor: pointer;
  }
}

@include skeleton('.schedule__element_skeleton', $blue-grey_30, 3.5s) {
  background: $blue-grey_40;
  height: rem(24);
  border-radius: $border-radius-default;
  width: 90%;
}
