@import "../../../../../styles/settings/variables";
@import "../../../../../styles/settings/colors";
@import "../../../../../styles/settings/functions";


.schedule {
  &__controls {
    display: block;
    margin-bottom: $spacing-medium;
  }

  &__content {
    margin-top: $spacing-large;
    border-radius: $border-radius-default;
    box-shadow: 0 0 rem(18) $blue-grey_10;
  }

  &__heading {
    background: $blue_70;
    padding: $spacing-tiny 0;
    color: #ffffff;
    font-size: $font-size-normal;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      border-top-right-radius: $border-radius-default;
      border-top-left-radius: $border-radius-default;
    }
  }

  &__element {
    padding: $spacing_medium $spacing-small;
    font-size: $font-size-small;
  }
}
