<div class="container">
  <app-list-header
    [selectedList]="activeMealPlaner"
    [lists]="mealPlaners"
    [defaultTitle]="'meal-planer.default-title' | translate:translations:currentLanguage"
    [addListLabel]="'meal-planer.new-list' | translate:translations:currentLanguage"
    [buttonLabel]="'meal-planer.label' | translate:translations:currentLanguage"
    [ariaDeleteLabel]="'meal-planer.delete' | translate:translations:currentLanguage"
    [ariaEditLabel]="'meal-planer.edit' | translate:translations:currentLanguage"
    [isOffline]="isOffline"
    (selectList)="onSelectList($event)"
    (editList)="onEditList($event)"
    (deleteList)="onDeleteList($event)"
    (createList)="onCreateList()"></app-list-header>
  <app-schedule
    [selectedDate]="selectedDate"
    [translations]="translations"
    [currentLanguage]="currentLanguage"
    [dayPlan]="dayPlan"
    [isOffline]="isOffline"
    (addMeal)="onAddMeal($event)"
    (dateChanged)="onChangeWeekDay($event)"
    (removeMeal)="onRemoveMeal($event)">
  </app-schedule>
</div>
