@import "../../../../styles/settings/colors";
@import "../../../../styles/mixins/forms";

.button{
  background-color: $blue_70;
  color: $blue-grey_10;
   @include button();

  &:hover{
    background-color: $blue_60;
  }

  &:active {
    background-color: $blue_80;
  }

  &--no-left-border-radius{
    border-radius: 0 4px 4px 0;
  }

  &--color-inverted{
    background-color: #FFFFFF;
    color: $blue_100;
    font-weight: 400;

    &:hover{
      background-color: $blue-grey_10;
    }

    &:active {
      background-color: $blue-grey_10;
    }
  }

  &--color-accent{
    background-color: $cyan_70;
    color:$cyan_10;

    &:hover{
      background-color: $cyan_60;
    }

    &:active {
      background-color: $cyan_80;
    }
  }

  &--color-warning{
    background-color: $red_70;
    color: $red_10;

    &:hover{
      background-color: $red_60;
    }

    &:active {
      background-color: $red_80;
    }
  }

  &--color-disabled{
    background-color: $blue-grey_50;
    cursor: not-allowed;

    &:hover,
    &:active{
      background-color: $blue-grey_50;
    }

  }

  &--warning-border{
    border: 2px solid $red_70;
    border-left: none;
  }

  .icon-left{
    padding-right: 0.5rem;
  }

  .icon-right{
    padding-left: 0.5rem;
  }

}
