@import "../../../../styles/material_theme";
@import "../../../../styles/settings/colors";

.button{
  width: 100%;
  height: 100%;
  background-color: $blue_70;
  border-radius: 4px;
  border-style:none;
  border-width:0;
  box-sizing:border-box;
  color: $blue-grey_10;
  cursor:pointer;
  display:inline-block;
  font-family:Roboto, sans-serif;
  font-size:1rem;
  font-stretch:100%;
  font-style:normal;
  font-weight:500;
  line-height:2rem;
  margin:0;
  outline-style:none;
  outline-width:0;
  overflow:visible;
  padding-left:1rem;
  padding-right:1rem;
  position:relative;
  text-align:center;
  vertical-align:baseline;
  white-space:nowrap;
  transition-duration: 0.2s;

  &:hover{
    background-color: $blue_60;
  }

  &:active {
    background-color: $blue_80;
  }

  &--no-left-border-radius{
    border-radius: 0 4px 4px 0;
  }

  &--color-accent{
    background-color: $cyan_70;
    color:$cyan_10;

    &:hover{
      background-color: $cyan_60;
    }

    &:active {
      background-color: $cyan_80;
    }
  }

  &--color-warning{
    background-color: $red_70;
    color: $red_10;

    &:hover{
      background-color: $red_60;
    }

    &:active {
      background-color: $red_80;
    }
  }

  &--color-disabled{
    background-color: $blue-grey_50;
    cursor: not-allowed;

    &:hover,
    &:active{
      background-color: $blue-grey_50;
    }

  }

  &--warning-border{
    border: 2px solid $red_70;
    border-left: none;
  }

  .icon-left{
    padding-right: 0.5rem;
  }

  .icon-right{
    padding-left: 0.5rem;
  }

}
