<div>
  <div mat-dialog-title>{{dialogData.data.title}}</div>
  <h4>{{dialogData.translations['ingredients.label-text']}}</h4>
  <div *ngFor="let ingredient of dialogData.data.ingredients" mat-dialog-content>
    <div class="ingredient">
      <span class="ingredient-column">{{ingredient.amount}}</span>
      <span class="ingredient-column">{{ingredient.unit}}</span>
      <span class="ingredient-column">{{ingredient.title}}</span>
    </div>
  </div>
  <div class="button-group" mat-dialog-actions>
    <app-button (click)="onEdit()"
                [buttonText]="dialogData.translations['button.modify']"
                [color]="'accent'"
                class="button--margin"
                [routerLink]="['/recipe/', dialogData.data.id]"
    >
    </app-button>
    <app-button [mat-dialog-close]="dialogData.data"
                [buttonText]="dialogData.translations['button.add-to-mealplaner']"
    >
    </app-button>
  </div>
</div>
