<div>
  <div mat-dialog-title>{{dialogData.data.title}}</div>
  <h4>{{dialogData.translations['ingredients.label-text']}}</h4>
  <div *ngFor="let ingredient of ingredients.controls" mat-dialog-content>
    <form [formGroup]="ingredientsForm" (ngSubmit)="onSubmit()">
      <div class="ingredient">
        <mat-checkbox
          class="shopping-list__item-text"
          [checked]="getFormControl(ingredient, 'isSelected').value"
          [color]="'primary'"
          [disableRipple]="true"
          (change)="toggleSelected(ingredient, $event.checked)">
          <span class="ingredient-column">{{getFormControl(ingredient, 'amount').value}}</span>
          <span class="ingredient-column">{{getFormControl(ingredient, 'unit').value}}</span>
          <span class="ingredient-column">{{getFormControl(ingredient, 'title').value}}</span>
        </mat-checkbox>

      </div>
    </form>
  </div>
  <div class="button-group" mat-dialog-actions>
    <app-button (click)="onEdit()"
                [buttonText]="dialogData.translations['button.modify']"
                [color]="'accent'"
                class="button--margin"
                [routerLink]="['/recipe/', dialogData.data.id]"
    >
    </app-button>
    <app-button [mat-dialog-close]="dialogData.data"
                [buttonText]="dialogData.translations['button.add-to-mealplaner']"
    >
    </app-button>
  </div>
</div>
