<app-auth-form
  [heading]="'auth.register.title' | translate:translations:currentLang"
  [buttonText]="'auth.register.cta' | translate:translations:currentLang"
  [backedErrorMessage]="backendErrorMessage && (backendErrorMessage | translate:translations:currentLang)"
  [authForm]="loginForm"
  (formSubmit)="onSubmit()"
>
  <ng-template #formTemplate let-form="form">
    <div [formGroup]="form">
      <div class="register-form__field">
        <fa-icon class="register-form__icon"
                 [icon]="['fas','user']"></fa-icon>
        <app-input
          class="register-form__input"
          type="text"
          [noBorder]="true"
          [name]="'name'"
          [placeholder]="'auth.register.name' | translate:translations:currentLang"
          [ariaLabel]="'auth.register.name' | translate:translations:currentLang"
          [formControl]="getFormControl('name')"
          [errors]="getErrorsFor('name')"></app-input>

      </div>

      <div class="register-form__field">
        <fa-icon class="register-form__icon"
                 [icon]="['fas','envelope']"></fa-icon>
        <app-input
          class="register-form__input"
          type="email"
          [noBorder]="true"
          [name]="'email'"
          [placeholder]="'auth.register.email' | translate:translations:currentLang"
          [ariaLabel]="'auth.register.email' | translate:translations:currentLang"
          [formControl]="getFormControl('email')"
          [errors]="getErrorsFor('email')"></app-input>
      </div>

      <div class="register-form__field">
        <fa-icon class="register-form__icon"
                 [icon]="['fas','unlock-alt']"></fa-icon>
        <app-input
          class="register-form__input"
          type="password"
          [noBorder]="true"
          [name]="'password'"
          [placeholder]="'auth.register.password' | translate:translations:currentLang"
          [ariaLabel]="'auth.register.password' | translate:translations:currentLang"
          [formControl]="getFormControl('password')"
          [errors]="getErrorsFor('password')"></app-input>
      </div>


      <div class="register-form__field">
        <fa-icon class="register-form__icon"
                 [icon]="['fas','handshake']"></fa-icon>
        <app-input
          class="register-form__input"
          type="text"
          [noBorder]="true"
          [name]="'invitationCode'"
          [placeholder]="'auth.register.invitationCode' | translate:translations:currentLang"
          [ariaLabel]="'auth.register.invitationCode' | translate:translations:currentLang"
          [formControl]="getFormControl('invitationCode')"
          [errors]="getErrorsFor('invitationCode')"
          [ariaDescribedBy]="'project-disclaimer'"></app-input>
      </div>
      <div class="register-form__helper" id="project-disclaimer" [innerHTML]="'auth.register.disclaimer' | translate:translations:currentLang">

      </div>

    </div>
  </ng-template>

  <ng-template #formFooter>
    <div class="register-form__hint" [innerHTML]="'auth.register.already-registered'  | translate:translations:currentLang ">

    </div>
  </ng-template>
</app-auth-form>





