@import "../../../../styles/settings/variables";
@import "../../../../styles/settings/functions";

.not-found {
  height: calc(100vh - #{rem(96)} - #{rem(96)});
  display: flex;
  align-items: center;
  justify-content: center;
}
