<form [formGroup]="listForm" (ngSubmit)="createList()">
<h2 mat-dialog-title>{{dialogData.translations['title']}}</h2>
<mat-dialog-content class="mat-typography creat-list-dialog">
  <app-input  [placeholder]="dialogData.translations['placeholder']" [name]="'title'"  [formControl]="getFormControl('title')"></app-input>
</mat-dialog-content>
<mat-dialog-actions [attr.align]="'end'" class="creat-list-dialog__actions">
  <app-button [buttonText]="dialogData.translations['save-button-text']" [isDisabled]="listForm.invalid" [buttonType]="'submit'"></app-button>
  <app-button [buttonText]="dialogData.translations['cancel-button-text']" color="accent" (click)="close()"></app-button>
</mat-dialog-actions>
</form>
