@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/functions";
@import "../../../../styles/settings/variables";


.creat-list-dialog{
  max-height: rem(300);
  width: rem(400);
  margin: 0;
  padding: 0;
  max-width: 100%;

  &__actions {
    *:nth-child(2) {
      margin-left: $spacing-medium;
    }
  }
}
