@import "../../../../styles/settings/colors";


.creat-list-dialog{
  max-height: 300px;
  width: 400px;
  margin: 0;
  padding: 0;
  max-width: 100%;

  &__actions {
    *:nth-child(2) {
      margin-left: 10px;
    }
  }
}
