
<div class="container">
  <div>
    <ul>
      <li *ngFor="let shoppingList of shoppingLists" [ngClass]="{active: shoppingList.id === activeShoppingListId}" (click)="onShoppingListChange(shoppingList.id)">
        {{shoppingList | json}}
      </li>
    </ul>
  </div>
  <app-shopping-list-form [translations]="translations" [currentLang]="currentLanguage" (itemAdded)="onItemAdded($event)">
  </app-shopping-list-form>
  <app-shopping-list
  [items]="shoppingListItems"
  (listItemMoved)="onShoppingListItemMoved($event)"
  (itemDeleted)="onShoppingListItemDeleted($event)">

  </app-shopping-list>
</div>


