<app-cookbook-page
  [translations]="translations$ | async"
  [currentLang]="currentLang$ | async"
  [recipes]="recipes$ | async"
  [cookbooks]="cookbooks$ | async"
  [selectedList]="selectedCookbook$ | async"
  (deleteRecipe)="onDeleteRecipe($event)"
  (editRecipe)="onEditRecipe($event)"
  (clickRecipe)="onClickRecipe($event)"
  (inputChanged)="onInputChanged($event)"
  (createRecipe)="onCreateRecipe()"
  (createList)="onCreateList()"
  (selectList)="onSelectList($event)"
  (editList)="onEditList($event)"
  (deleteList)="onDeleteList($event)"
></app-cookbook-page>
