@import "../../../../../styles/settings/breakpoints";
@import "../../../../../styles/settings/variables";
@import "../../../../../styles/mixins/style";

.recipe-list {
  width: 100%;
  display: block;
  overflow: hidden;

  .add-recipe-row{
    border-top: solid 1px $blue-grey_30;
    font-weight: 500;
    color: $cyan_80;
    font-size: $font-size-small;

    &:hover{
      cursor: pointer;
    }

    &__title{
      padding: $spacing-medium;
      width: fit-content;
    }

    &__icon{
      padding-right: $spacing-tiny;
    }
  }

  &__filter-field{
    padding: 1rem;
    margin-bottom: 0.5rem;
  }

  &__item {
    border-top: solid 1px $blue-grey_30;
    color: $text-70;
    font-size: $font-size-small;
    box-sizing: border-box;
    background: #ffffff;
  }

  &__title-box {
    display: flex;
    flex: 1 1 70%;
    align-items: center;
    padding: $spacing-medium;

    &:hover {
      cursor: pointer;
    }

  }

  &__buttons-box {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    padding: $spacing-medium;
    background: none;
    border: none;
    color: $blue-100;
    cursor: pointer;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include large{
      flex-direction: row;
      align-items: stretch;
    }
  }

  @include skeleton('.recipe-list__skeleton', $blue-grey_30, 3.5s) {
    background: $blue-grey_40;
    height: rem(24);
    margin: $spacing-small auto $spacing-medium $spacing-medium;
    border-radius: $border-radius-default;
    width: 90%;

    &:nth-child(2){
      width: 75%;
    }

    &:nth-child(3){
      width: 85%;
    }

    &:nth-child(4){
      width: 80%;
      margin-bottom: $spacing-large;
    }
  };

  &--empty {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: $spacing-large;
    color: $text-40;
    font-size: $font-size-tiny;
    text-align: center;
    font-weight: 500;
    line-height: 2;

    @include large {
      font-size: $font-size-normal;
    }
  }

  &__image {
    max-width: 100%;
  }

}
