@import "../../../../styles/settings/colors";
@import "../../../../styles/mixins/forms";

.select {

  &__field {
    @include form-field;

    &--no-border {
      padding-left: 0;
    }

    &--no-padding {
      padding: 0;
    }

    &--no-background{
      background-color: transparent;
      color: $blue-grey_10;
      outline: none;
      border: none;
    }

  }

  &__label {
    @include label;
  }

  &__error {
    @include form-errors;
  }
}
