<label *ngIf="label" class="select__label" for="{{inputId}}">{{label}}</label>

<select
  ngDefaultControl
  class="select__field"
  name="{{name}}"
  id="{{inputId}}"
  [(ngModel)]="selectedValue"
  [ngClass]="{
    'select__field--error': errors && errors.length > 0,
    'select__field--no-background': noBackground,
    'select__field--no-border': noBorder,
    'select__field--no-padding': noPadding
  }"
  [attr.disabled]="isDisabled ? '' : null"
  [attr.data-test]="e2eTestName"
  [attr.aria-label]="ariaLabel"
  (ngModelChange)="onChange($event)"
>
  <option
    *ngFor="let option of options"
    [ngValue]="option.value">
    {{getOptionKey(option)}}
  </option>
</select>

<div class="select__error-wrapper">
  <div class="select__error" *ngFor="let error of errors">{{error}}</div>
</div>

