<label *ngIf="label" class="select__label" for="{{inputId}}">{{label}}</label>

<select
  [(ngModel)]="selectedValue"
  ngDefaultControl
  (ngModelChange)="onChange($event)"
  [attr.disabled]="isDisabled ? '' : null"
  [attr.data-test]="e2eTestName"
  [class.select__field--no-border]="noBorder"
  class="select__field"
  name="{{name}}"
  id="{{inputId}}"
  [ngClass]="{'select__field--error': errors && errors.length > 0}"
>
  <option
    *ngFor="let option of options"
    [ngValue]="option.value">
    {{getOptionKey(option)}}
  </option>
</select>

<div class="error-wrapper">
  <div class="select__error" *ngFor="let error of errors">{{error}}</div>
</div>

