@import "../../../../../styles/settings/colors";
@import "../../../../../styles/settings/breakpoints";
@import "../../../../../styles/settings/variables";

.shopping-list-form {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-small;
  padding: $spacing-medium;

  @include large {
    flex-direction:  row;
  }

  &--input-amount {
    @include large {
      max-width: rem(128);
    }
  }

  &--input {
    padding-top: $spacing-small 0;
    flex: 1 1 auto;

    &:not(:nth-child(3)) {
      border-bottom: 1px solid $blue-grey_90;
    };

    @include large {
      padding-bottom: 0;
      padding-right: $spacing-medium;

      &:not(:nth-child(3)) {
        border-bottom: none;
      };

    }
  }

  &--input-unit {
    @include large {
      max-width: rem(136);
    }
  }

  &--submit {
    height: rem(40);

    @include large {
      height: auto;
    }
  }
}
