<div class="form-wrapper">
  <form class="shopping-list-form" [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    <app-input
      class="shopping-list-form--input shopping-list-form--input-amount"
      type="number"
      [minValue]="0"
      [border]="'bottom'"
      [name]="'amount'"
      [placeholder]="'shoppingList.addForm.amount' | translate:translations:currentLang"
      [formControl]="getFormControl('amount')"
      [e2eTestName]="'shopping-list-item-amount'"
    ></app-input
    >

    <app-select
      class="shopping-list-form--input shopping-list-form--input-unit"
      [options]="units"
      [name]="'unit'"
      [border]="'bottom'"
      [formControl]="getFormControl('unit')"
      [e2eTestName]="'shopping-list-item-unit'"
    >
    </app-select>

    <app-input
      class="shopping-list-form--input shopping-list-form--input-title"
      [placeholder]="'shoppingList.addForm.product' | translate:translations:currentLang"
      [border]="'bottom'"
      [formControl]="getFormControl('title')"
      [e2eTestName]="'shopping-list-item-name'"
    >
    </app-input>

    <app-button
      class="shopping-list-form--submit"
      [buttonType]="'submit'"
      [buttonText]="'shoppingList.addForm.addLabel' | translate:translations:currentLang"
      [isDisabled]="addItemForm.invalid"
      [e2eTestName]="'add-shopping-list-item'"
    ></app-button>
  </form>
</div>

