@import "../../node_modules/@angular/material/theming";
@import "./settings/colors";

$mat-primary: (
  50: $blue_10,
  100: $blue_20,
  200: $blue_30,
  300: $blue_40,
  400: $blue_50,
  500: $blue_60,
  600: $blue_70,
  700: $blue_80,
  800: $blue_90,
  900: $blue_100,
  contrast: (
    50: $text-100,
    100: $text-100,
    200: $text-100,
    300: $text-10,
    400: $text-10,
    500: $text-10,
    600: $text-10,
    700: $text-10,
    800: $text-10,
    900: $text-10,
  )
);

$mat-cyan: (
  50:  $cyan_10,
  100: $cyan_20,
  200: $cyan_30,
  300: $cyan_40,
  400: $cyan_50,
  500: $cyan_60,
  600: $cyan_70,
  700: $cyan_80,
  800: $cyan_90,
  900: $cyan_100,
  contrast: (
    50: $text-100,
    100: $text-100,
    200: $text-100,
    300: $text-10,
    400: $text-10,
    500: $text-10,
    600: $text-10,
    700: $text-10,
    800: $text-10,
    900: $text-10,
  )
);

$mat-red: (
  50: $red_10,
  100: $red_20,
  200: $red_30,
  300: $red_40,
  400: $red_50,
  500: $red_60,
  600: $red_70,
  700: $red_80,
  800: $red_90,
  900: $red_100,
  contrast: (
    50: $text-100,
    100: $text-100,
    200: $text-100,
    300: $text-10,
    400: $text-10,
    500: $text-10,
    600: $text-10,
    700: $text-10,
    800: $text-10,
    900: $text-10,
  )
);

$mealplaner-app-primary: mat-palette($mat-primary);

$mealplaner-app-accent: mat-palette($mat-cyan, 600, 500, 900);
$mealplaner-app-warn: mat-palette($mat-red);

$mealplaner-app-theme: mat-light-theme($mealplaner-app-primary, $mealplaner-app-accent, $mealplaner-app-warn);

@include angular-material-theme($mealplaner-app-theme);
