<mat-dialog-content class="mat-typography list-picker">
  <div class="list-picker__item list-picker__item--add"  (click)="createList()">
    <section class="list-picker__item-title">
      <fa-icon
        class="list-picker__icon"
        [icon]="['fas','plus']"
      ></fa-icon>
      {{dialogData.translations['new-list']}}
    </section>
  </div>
  <div *ngFor="let shoppingList of dialogData.data"
       class="list-picker__item">
    <section class="list-picker__item-title" (click)="selectList(shoppingList)">
      {{shoppingList.title || dialogData.translations['default-title']}}
    </section>
    <section class="list-picker__actions">
      <fa-icon
        class="list-picker__action"
        (click)="editList(shoppingList)"
        [icon]="['fas','edit']"
      ></fa-icon>
      <fa-icon
        class="list-picker__action"
        *ngIf="dialogData.data.length > 1"
        (click)="deleteList(shoppingList)"
        [icon]="['fas','trash-alt']"
      ></fa-icon>
    </section>
  </div>
</mat-dialog-content>

