@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/functions";
@import "../../../../styles/settings/variables";


.list-picker {
  max-height: rem(300);
  width: rem(400);
  margin: 0;
  max-width: 100%;

  &__item {
    border-bottom: 1px dashed $blue-grey_100;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: $text-100;

    &:hover:not(:first-child) {
      background: $blue-grey_10;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__item-title {
    padding: $spacing-medium $spacing-tiny;
    flex-grow: 1;
  }

  &__item--add {
    font-weight: 500;
    color: $cyan_80;
    font-size: $font-size-small;
  }

  &__item-actions {
    flex-shrink: 0;
    padding: $spacing-medium $spacing-tiny $spacing-medium 0;
  }

  &__item-icon {
    padding-right: $spacing-tiny;
  }

  &__item-action:nth-child(2) {
    padding-left: $spacing-medium
  }
}
