@import "../../../../../styles/mixins/forms";


.forgot-password-form {
  @include authform;

  &__confirmation {
    width: 80%;
    margin: 0 auto;
    font-size: 1em;
    color: $blue_grey_60;
  }
}
