@import "../../../../../styles/mixins/forms";
@import "../../../../../styles/settings/variables";


.forgot-password-form {
  @include authform;

  &__confirmation {
    width: 80%;
    margin: 0 auto;
    font-size: $font-size-small;
    color: $blue_grey_60;
  }
}
