<app-auth-form
  class="forgot-password-form"
  [heading]="'auth.forgot-password.title' | translate:translations:currentLanguage"
  [buttonText]="'auth.forgot-password.cta' | translate:translations:currentLanguage"
  [authForm]="requestPasswordResetCodeForm"
  [showButton]="!passwordResetRequested"
  (formSubmit)="onSubmit()"
>
  <ng-template #formTemplate let-form="form">
    <div *ngIf="!passwordResetRequested; else submitMessage" [formGroup]="form">
      <div class="forgot-password-form__helper" id="reset-disclaimer">
        {{'auth.forgot-password.disclaimer' | translate:translations:currentLanguage}}
      </div>
      <div class="forgot-password-form__field">
        <fa-icon class="forgot-password-form__icon"
                 [icon]="['fas','user']"></fa-icon>
        <app-input
          class="forgot-password-form__input"
          type="email"
          [border]="'bottom'"
          [name]="'email'"
          [placeholder]="'auth.register.email' | translate:translations:currentLanguage"
          [ariaDescribedBy]="'reset-disclaimer'"
          [formControl]="getFormControl('email')"
          [errors]="getErrorsFor('email')"></app-input>
      </div>
    </div>

    <ng-template #submitMessage>
      <div class="forgot-password-form__confirmation">
        {{'auth.forgot-password.sent' | translate:translations:currentLanguage}}
      </div>
    </ng-template>
  </ng-template>
</app-auth-form>





