<div class="input-wrapper">
  <div class="input">
    <label class="input__label" *ngIf="label" [for]="inputId">{{label}}</label>
    <input class="input__field"
           [type]="type"
           [id]="inputId"
           [formControl]="formControl"
           [disabled]="isDisabled"
           [autocomplete]="autocomplete"
           [placeholder]="placeholder"
           [attr.data-test]="testName"
           (input)="onUserInput($event)"
           (blur)="onBlur()"
           [ngClass]="{'input__field--error': errors && errors.length > 0}"
    >
    <div class="error__wrapper">
      <span class="input__error" *ngFor="let error of errors">{{error}}</span>
    </div>
  </div>
</div>

