<div class="input">
  <label class="input__label" *ngIf="label" [for]="inputId">{{label}}</label>
    <input class="input__field"
           [(ngModel)]="currentValue"
           [type]="type"
           [id]="inputId"
           [class.input__field--border-bottom]="border === 'bottom'"
           [attr.name]="name"
           [autocomplete]="autocomplete"
           [placeholder]="placeholder"
           [attr.data-test]="e2eTestName"
           [attr.min]="minValue"
           [attr.aria-label]="placeholder"
           [attr.aria-describedby]="ariaDescribedBy"
           (blur)="onBlur()"
           (ngModelChange)="onChange($event)"
    >
  <div>
    <div class="input__error" *ngFor="let error of errors">{{error}}</div>
  </div>
</div>

