@import "../../../../../styles/settings/breakpoints";
@import "../../../../../styles/settings/variables";

.ingredient-dialog {
  &__list {
    width: 100%;
    display: block;
    overflow: hidden;
  }

  &__list-column {
    display: inline-block;
    margin-right: $spacing-small;

    &:last-child {
      margin-right: 0;
    }
  }

  &__actions {
    margin-top: $spacing-small;
  }
}

.mat-dialog-actions{
  margin-bottom: 0;
}
