@import "../../../../../styles/settings/breakpoints";
@import "../../../../../styles/settings/variables";



.ingredient-dialog {
  &__list {
    width: 100%;
    display: block;
    overflow: hidden;
  }

  &__list-column {
    display: inline-block;
    margin-right: $padding-small;

    &:last-child {
      margin-right: 0;
    }
  }

  &__actions {
    margin-top: 1rem;
  }
}
