<div class="password-wrapper">
  <app-input
    class="password-input"
    #password
    [type]="isPasswordVisible ? 'text' : 'password'"
    [(ngModel)]="currentValue"
    [name]="name"
    [border]="border"
    [ariaDescribedBy]="ariaDescribedBy"
    [minValue]="minValue"
    [autocomplete]="autocomplete"
    [placeholder]="placeholder"
    [e2eTestName]="e2eTestName"
    [errors]="errors"
    [isDisabled]="isDisabled"
    (clicked)="onClicked($event)"
    (blur)="onBlur()"
    (ngModelChange)="onInputChange($event)"
  ></app-input>
  <ng-content></ng-content>
  <fa-icon class="password-icon"
           [ngClass]="'password-icon--' + color"
           (click)="togglePasswordVisibility()"
           [icon]="getIcon()"></fa-icon>
</div>
