@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/variables";

.password-input {
  display: flex;
  flex-direction: row;

  &__field {
    width: 100%;
  }

  &__icon {
    padding-top: $spacing-medium;
    padding-left: 1rem;

    &--primary {
      color: $blue_grey_70
    }

    &--secondary {
      color: $cyan_80;
    }

    &--border-bottom {
      border-bottom: 1px solid  $blue-grey_80;
    }
  }

}
