<div class="container">
  <app-mealplaner-page
    [selectedDate]="selectedDate | async"
    [translations]="translations$ | async"
    [currentLanguage]="currentLanguage$ | async"
    [mealPlaners]="mealPlaners$ | async"
    [activeMealPlanerId]="activeMealPlanerId$ | async"
    [activeMealPlaner]="activeMealPlaner$ | async"
    [dayPlan]="dayPlan$ | async"
    [isOffline]="isOffline$ | async"
    (dateChanged)="onWeekOffsetChanged($event)"
    (changeMealPlaner)="onMealPlanerChange($event)"
    (createMealPlaner)="onMealPlanerCreate()"
    (deleteMealPlaner)="onMealPlanerDeleted($event)"
    (editMealPlaner)="onMealPlanerEdit($event)"
    (addMeal)="onAddMeal($event)"
    (removeMeal)="onRemoveMeal($event)">
  </app-mealplaner-page>
</div>

