<div class="product-page__header">
  <div class="container">
    <h1 class="product-page__heading">{{'product-page.heading' | translate:translations:currentLanguage }}</h1>
    <section class="product-page__lead-text" [innerHTML]="'product-page.lead-text' | translate:translations:currentLanguage"></section>
    <section class="product-page__cta">
      <app-button-link class="product-page__cta" [linkText]="'product-page.cta' | translate:translations:currentLanguage" [link]="'auth/register'"></app-button-link>
    </section>
  </div>
</div>

<div class="product-page__image-wrapper">
  <div class="container">
    <img
      class="product-page__img" src="/assets/plate.jpg"
      [ngStyle]="{'transform': 'rotate(' + plateRotationDegree + 'deg)'}"
      alt="{{'product-page.meal-alt-text' | translate:translations:currentLanguage}}}"/>
  </div>
</div>

<div class="container">
  <section class="product-page__feature-explanation">
    <div class="product-page__feature-explanation-text">
      <h2 class="product-page__feature-explanation-title">{{'product-page.meal-title' | translate:translations:currentLanguage }}</h2>
      <p>
        {{'product-page.meal-description' | translate:translations:currentLanguage }}
      </p>
    </div>
    <div class="product-page__feature-explanation-image-wrapper product-page__feature-explanation-image-wrapper--hidden" >
      <img
        src="/assets/meal.svg"
        alt="{{'product-page.meal-illustration-text' | translate:translations:currentLanguage}}"
        width="400"
        height="380"
      />
    </div>
  </section>

  <section class="product-page__feature-explanation">
    <div class="product-page__feature-explanation-text">
      <h2 class="product-page__feature-explanation-title">{{'product-page.planer-title' | translate:translations:currentLanguage }}</h2>
      <p>
        {{'product-page.planer-description' | translate:translations:currentLanguage }}
      </p>
    </div>
    <div class="product-page__feature-explanation-image-wrapper product-page__feature-explanation-image-wrapper--hidden">
      <img
        src="/assets/calender.svg"
        alt="{{'product-page.planer-illustration-text' | translate:translations:currentLanguage}}"
        width="400"
        height="380"
      />
    </div>
  </section>

  <section class="product-page__feature-explanation">
    <div class="product-page__feature-explanation-text">
      <h2 class="product-page__feature-explanation-title">{{'product-page.list-title' | translate:translations:currentLanguage }}</h2>
      <p>
        {{'product-page.list-description' | translate:translations:currentLanguage }}
      </p>
    </div>
    <div class="product-page__feature-explanation-image-wrapper product-page__feature-explanation-image-wrapper--hidden">
      <img
        src="/assets/list.svg"
        alt="{{ 'product-page.list-illustration-alt-text' | translate:translations:currentLanguage }}"
        width="400"
        height="230"
      />
    </div>
  </section>

  <section class="product-page__cta">
    <app-button-link class="product-page__cta" [linkText]="'product-page.cta' | translate:translations:currentLanguage" [link]="'auth/register'"></app-button-link>
  </section>
</div>


