<div class="recipe-list">
  <app-input
    class="search-field"
    [type]="'search'"
    [placeholder]="'recipe-list.search' | translate:translations:currentLang"
    #searchField
  ></app-input>
  <div class="recipe" *ngFor="let recipe of recipes">
    <div class="recipe__row">
      <div class="recipe__title-box">
        <span>{{recipe.title}}</span>
      </div>
      <div class="recipe__buttons-box">
        <app-button class="recipe__button"
                    [buttonText]="'button.edit' | translate:translations:currentLang"
                    [iconLeft]="'pen-square'"
                    [color]="'accent'"
                    (click)="onEditRecipe(recipe.id)"
        ></app-button>
        <app-button class="recipe__button"
                    [buttonText]="'button.delete' | translate:translations:currentLang"
                    [iconLeft]="'times'"
                    [color]="'warn'"
                    (click)="onDeleteRecipe(recipe.id)"
        ></app-button>
      </div>
    </div>
  </div>
</div>
