<app-navigation
  [isLoggedIn]="isLoggedIn$ | async"
  [translations]="translations$ | async"
  [currentLanguage]="currentLanguage$ | async"
  (logout)="onLogout()"
  (languageChanged)="changeLanguage($event)"
></app-navigation>
<app-teaser
  *ngIf="true"
  [text]="'beta.teaser' | translate:(translations$ | async):(currentLanguage$ | async)"
>
</app-teaser>
<app-teaser
  *ngIf="isOffline$ | async"
  [text]="'offline.teaser' | translate:(translations$ | async):(currentLanguage$ | async)"
>
</app-teaser>

<div id="main-page" [class.main-page--beat]="showBetaTeaser || (isOffline$ | async)">
  <router-outlet></router-outlet>
</div>
