<div class="container">
  <app-list-header
    [selectedList]="selectedCookbook"
    [lists]="cookbooks"
    [defaultTitle]="'cookbook.default-title' | translate:translations:currentLanguage"
    [addListLabel]="'cookbook.new-list' | translate:translations:currentLanguage"
    [buttonLabel]="'cookbook.my-cookbooks' | translate:translations:currentLanguage"
    [isOffline]="isOffline"
    (createList)="onCreateCookbook()"
    (selectList)="onSelectCookbook($event)"
    (editList)="onEditCookbook($event)"
    (deleteList)="onDeleteCookbook($event)"
  >
  </app-list-header>
  <div class="cookbook-wrapper">
    <app-recipe-list
      [isOffline]="isOffline"
      [translations]="translations"
      [currentLang]="currentLanguage"
      [recipes]="recipes"
      (newRecipe)="onNewRecipe()"
      (deleteRecipe)="onDeleteRecipe($event)"
      (editRecipe)="onEditRecipe($event)"
      (clickRecipe)="onClickRecipe($event)"
      (inputChanged)="onInputChanged($event)"
    ></app-recipe-list>
  </div>
</div>
