<div class="container">
  <app-list-header
    [selectedList]="selectedCookbook"
    [lists]="cookbooks"
    [defaultTitle]="'cookbook.default-title' | translate:translations:currentLanguage"
    [addListLabel]="'cookbook.new-list' | translate:translations:currentLanguage"
    [buttonLabel]="'cookbook.my-cookbooks' | translate:translations:currentLanguage"
    (createList)="onCreateCookbook()"
    (selectList)="onSelectCookbook($event)"
    (editList)="onEditCookbook($event)"
    (deleteList)="onDeleteCookbook($event)"
  >
  </app-list-header>
  <app-recipe-list
    [translations]="translations"
    [currentLang]="currentLanguage"
    [recipes]="recipes"
    (deleteRecipe)="onDeleteRecipe($event)"
    (editRecipe)="onEditRecipe($event)"
    (clickRecipe)="onClickRecipe($event)"
    (inputChanged)="onInputChanged($event)"
  ></app-recipe-list>
  <app-button
    class="create-recipe-button"
    [buttonText]="'button.submit' | translate: translations : currentLanguage"
    (click)="click()"
    [e2eTestName]="'add-recipe'"
  >
  </app-button>
</div>
