<app-auth-form
  class="reset-password-form"
  [heading]="'auth.reset-password.title' | translate:translations:currentLang"
  [buttonText]="'auth.rest-password.cta' | translate:translations:currentLang"
  [backedErrorMessage]="backendError && (backendError | translate:translations:currentLang)"
  [authForm]="resetPasswordResetCodeForm"
  (formSubmit)="onSubmit()"
>
  <ng-template #formTemplate let-form="form">
    <div [formGroup]="form">
      <div class="reset-password-form__field">
        <fa-icon class="reset-password-form__icon"
                 [icon]="['fas','unlock-alt']"></fa-icon>
        <app-input
          class="reset-password-form__input"
          type="password"
          [border]="false"
          [name]="'password'"
          [placeholder]="'auth.reset-password.password' | translate:translations:currentLang"
          [formControl]="getFormControl('password')"
          [errors]="getErrorsFor('password')"></app-input>
      </div>
    </div>
  </ng-template>



</app-auth-form>





