<div cdkDropList class="shopping-list" (cdkDropListDropped)="drop($event)">
  <div class="shopping-list__item" *ngFor="let item of items" cdkDrag>
    <div class="shopping-list__item-column-wrapper">
      <mat-checkbox
        class="shopping-list__item-text"
        [checked]="item.isChecked"
        [color]="'primary'"
        [disableRipple]="true"
        (change)="itemChecked(item, $event.checked)">
        <span class="shopping-list__label">{{item.amount}} {{item.unit | translate:translations:currentLang }} {{item.title}}</span>
      </mat-checkbox>
      <fa-icon
        cdkDragHandle
        class="shopping-list__ellipsis"
        [icon]="['fas','ellipsis-v']"
      ></fa-icon>
    </div>
    <div class="shopping-list__status" [class.shopping-list__status--deleted]="item.isChecked"></div>
  </div>
</div>



