<section [ngSwitch]="getPageState(items)" class="shopping-list">
  <div *ngSwitchCase="'default'" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="shopping-list__item" *ngFor="let item of items" cdkDrag>
      <div class="shopping-list__item-column-wrapper">
        <mat-checkbox
          class="shopping-list__item-text"
          [checked]="item.isChecked"
          [color]="'primary'"
          [disableRipple]="true"
          (change)="itemChecked(item, $event.checked)">
          <span
            class="shopping-list__label">{{item.amount}} {{item.unit | translate:translations:currentLang }} {{item.title}}</span>
        </mat-checkbox>
        <fa-icon
          cdkDragHandle
          class="shopping-list__ellipsis"
          [icon]="['fas','ellipsis-v']"
        ></fa-icon>
      </div>
      <div class="shopping-list__status" [class.shopping-list__status--deleted]="item.isChecked"></div>
    </div>
  </div>


  <div *ngSwitchCase="'empty'" class="empty-shopping-list">
    <img class="empty-shopping-list__image" src="assets/empty-shopping-list.png" alt="Empty List"/>
    <div>Deine Liste scheint leer zu sein. <br/> Füge jetzt das erte Produkt hinzu.</div>
  </div>

  <div *ngSwitchCase="'loading'">
    <div class="shopping-list__item-skeleton"></div>
    <div class="shopping-list__item-skeleton"></div>
    <div class="shopping-list__item-skeleton"></div>
    <div class="shopping-list__item-skeleton"></div>
  </div>

</section>

