@import "./colors";
@import "./functions";

$border-primary: 1px solid $blue_70;
$border-radius-default: 4px;
$border-radius-small: 4px;
$header-height: rem(56);
$mobile-navigation-height: rem(72);

$spacing-tiny: rem(4);
$spacing-small: rem(8);
$spacing-medium: rem(16);
$spacing-large: rem(32);

$z-index-top: 10;

$font-size-tiny: rem(13);
$font-size-small: rem(16);
$font-size-normal: rem(20);
$font-size-medium: rem(24);
$font-size-large: rem(28);
$font-size-big: rem(42);
