@import "../../../styles/settings/colors";
@import "../../../styles/settings/breakpoints";


.product-page {
  &__header {
    text-align: center;
    background: $blue-grey_10;
    margin-top: -6em;
    padding-top: 10em;
    padding-bottom: 1em;
  }

  &__heading {
    color: $blue-grey_80;
    font-size: 2.7em;
  }

  &__lead-text {
    color: $blue-grey_60;
    max-width: 550px;
    margin: 30px auto;
    font-size: 1.2em;
    line-height: 1.8;
  }

  &__cta {
    width: 300px;
    margin: 40px auto;
  }

  &__img {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    display: block;
  }

  &__image-wrapper {
    background: $blue-grey_100;
    padding: 2em 0;
  }

  &__feature-explanation {
    display: flex;
    flex-direction: column;
    padding-top: 80px;

    @include medium {
      flex-direction: row;
    }
  }

  &__feature-explanation-title {
    color: $blue-100;
    padding-bottom: 0.8em;
  }

  &__feature-explanation:nth-child(even) {
    @include medium {
      flex-direction: row-reverse;
    }
  }

  &__feature-explanation-text {
    flex: 1 1 0;
    align-self: center;
    line-height: 1.8em;
    color: $blue-grey_80;
  }

  &__feature-explanation-image-wrapper {
    flex: 1 1 0;
    align-self: center;

    img {
      max-width: 100%;
    }

    &--hidden {
      visibility: hidden;
    }

    &--visible {
      animation: fade-in 1.6s;
    }
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.8, .8)
  }
  to {
    opacity: 1;
  }
}

