@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/variables";
@import "../../../../styles/mixins/style";
@import "../../../../styles/settings/functions";



.list-header {
  padding-bottom: $padding-large;
  padding-left: $padding-small;
  color: $blue-grey_80;
  display: flex;
  align-items: baseline;
  justify-content: space-between;


  &__title {
    font-weight: 400;
    font-size: $font-size-medium;
  }

  @include skeleton('.list-header__title-wrapper', $blue-grey_30, 3.5s) {
    background: $blue-grey_40;
    width: 60%;
    height: rem(24);
    align-self: center;
    border-radius: $border-radius-default;
  };

  @include skeleton('.list-header__button', $cyan_70, 3.5s) {
    background: $cyan_80;
    width: rem(80);
    height: rem(30);
    cursor: wait;
    border-radius: $border-radius-default;
  };


  &__button {
    border: none;
    color: #ffffff;
    padding: $padding-tiny $padding-medium;
    border-radius: $border-radius-default;
    background-color: $cyan_80;
    cursor: pointer;
  }
}


