<nav class="main-navigation">
  <div class="container main-navigation__content">
    <div class="main-navigation__wrapper">
      <img class="main-navigation__logo"
           src="../../../../assets/logo.svg"
           [routerLink]="['/']" alt="Mealplaner Logo"
           [attr.aria-label]="'navigation.go-home' | translate:translations:currentLanguage"
      >
      <div class="desktop-navigation" *ngIf="isLoggedIn">
        <ul class="desktop-navigation__link-list" data-test="desktop-navigation">
          <li *ngFor="let link of links" class="desktop-navigation__link-list-element">
            <a [routerLink]="[link.path]"
               class="desktop-navigation__link"
               routerLinkActive="desktop-navigation__link--active">
              {{link.key | translate:translations:currentLanguage}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-navigation__actions">

      <app-select
        class="main-navigation__secondary-action"
        [border]="false"
        [name]="'language'"
        [options]="supportedLanguages"
        [defaultValue]="currentLanguage"
        (valueChanged)="changeLanguage($event)"
        [noBackground]="true"
        [noPadding]="true"
        [ariaLabel]="'navigation.change-language' | translate:translations:currentLanguage"
      >
      </app-select>

      <app-button *ngIf="isLoggedIn; else registerTemplate"
                  [buttonText]="'app.navigation.logout' | translate:translations:currentLanguage"
                  color="inverted" (click)="onLogout()"
                  class="main-navigation__primary-action"
                  data-test="logout-button"></app-button>


      <ng-template #registerTemplate>
        <a class="main-navigation__secondary-action"
           [routerLink]="['/auth/login']"
           data-test="login-link">
          {{'app.navigation.login' | translate:translations:currentLanguage}}
        </a>

        <a          [routerLink]="['/auth/register']"
                    class="main-navigation__primary-action"
                    data-test="register-link">
          {{'app.navigation.register' | translate:translations:currentLanguage }}
        </a>
      </ng-template>
    </div>
  </div>
</nav>


<nav *ngIf="isLoggedIn" class="mobile-navigation">
  <ul class=mobile-navigation__link-list data-test="mobile-navigation">
    <li *ngFor="let link of links" class="mobile-navigation__link-wrapper">
      <a class="mobile-navigation__link" [routerLink]="[link.path]"
         routerLinkActive="mobile-navigation__link--active">
        <fa-icon class="shopping-list__ellipsis mobile-navigation__link-icon"
                 [icon]="['fas', link.icon]"></fa-icon>
        <span
          class="mobile-navigation__link-text">{{link.key | translate:translations:currentLanguage}}</span>
        <div
          class="mobile-navigation__status"></div>
      </a>
    </li>
  </ul>
</nav>
