<section [ngSwitch]="getPageState(items)" class="shopping-list">
  <div *ngSwitchCase="'default'" cdkDropList (cdkDropListDropped)="moveItem($event)">
    <div class="shopping-list__item" *ngFor="let item of items" cdkDrag>
      <div class="shopping-list__item-row-wrapper">
        <mat-checkbox
          class="shopping-list__item-text"
          [color]="'primary'"
          [disableRipple]="true"
          (change)="itemChecked(item, $event.checked)">
          <span
            class="shopping-list__label">{{item.amount}} {{'unit.' + item.unit | translate:translations:currentLang }} {{item.title}}</span>
        </mat-checkbox>
        <fa-icon
          cdkDragHandle
          class="shopping-list__drag-icon"
          [icon]="['fas','ellipsis-v']"
        ></fa-icon>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'empty'" class="shopping-list--empty">
    <img class="shopping-list__image" src="../../../../../assets/empty-list.svg" alt="Empty List" />
    <div>{{'shopping-list.is-empty' | translate:translations:currentLang }} <br/> {{'shopping-list.add-product' | translate:translations:currentLang }} </div>
  </div>

  <div *ngSwitchCase="'loading'">
    <div class="shopping-list__item-skeleton"></div>
    <div class="shopping-list__item-skeleton"></div>
    <div class="shopping-list__item-skeleton"></div>
    <div class="shopping-list__item-skeleton"></div>
  </div>

</section>

