@import "../../../../../styles/settings/colors";
@import "../../../../../styles/settings/breakpoints";
@import "../../../../../styles/mixins/style";
@import "../../../../../styles/settings/variables";

.shopping-list {
  width: 100%;
  display: block;
  overflow: hidden;

  &__item {
    border-top: solid 1px $blue-grey_30;
    color: $text-70;
    font-size: 16px;
    box-sizing: border-box;
    background: white;
  }

  &__item-column-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-text {
    padding: 20px 10px 15px 10px;
    display: block;
  }

  &__ellipsis {
    color: $blue-grey_50;
    padding: 0 20px;
    cursor: move;
  }

  &__status {
    height: 5px;
    width: 0;
    flex-basis: 100%;
    background: $blue_50;

    &--deleted {
      width: 100%;
      transition: width 1.5s linear;
    }
  }

  @include skeleton('.shopping-list__item-skeleton', $blue-grey_30, 3.5s) {
    background: $blue-grey_40;
    height: 24px;
    margin: 12px auto 18px 18px;
    border-radius: $border-radius-default;
    width: 90%;

    &:nth-child(2){
      width: 75%;
    }

    &:nth-child(3){
      width: 85%;
    }

    &:nth-child(4){
      width: 80%;
      margin-bottom: 24px;
    }
  };

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px $blue-grey_30,
  0 8px 10px 1px $blue-grey_20,
  0 3px 14px 2px $blue-grey_10;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.shopping-list-item.cdk-drop-list-dragging .shopping-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.empty-shopping-list {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 24px;
  color: $text-40;
  font-size: 0.8em;
  text-align: center;
  font-weight: 500;
  line-height: 2;

  @include large {
    font-size: 1.2em;
  }

  &__image {
    max-width: 100%;
  }
}
