@import "../../../../../styles/settings/colors";
@import "../../../../../styles/settings/breakpoints";
@import "../../../../../styles/mixins/forms";
@import "../../../../../styles/mixins/style";
@import "../../../../../styles/settings/variables";
@import "../../../../../styles/settings/functions";

.recipe-form {

  border-radius: $border-radius-default;
  box-shadow: 0 0 rem(18) $blue-grey_10;
  padding: $spacing-medium;

  &__input {
    display: block;
  }

  &__button {
    margin-top: $spacing-medium;
  }

  &__ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: $border-radius-default;
    box-shadow: 0 0 rem(18) $blue-grey_10;
    padding: $spacing-medium $spacing-small;
    margin-top: 1rem;
  }

  &__ingredients-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: $spacing-small $spacing-small;
    border-bottom: 1px solid $blue_grey_30;

    @include large {
      flex-direction: row;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__ingredient-input {

    @include large {
      padding-right: $spacing-medium;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__label-container {
    display: flex;
    color: $blue-grey_80;
    justify-content: flex-start;
    padding-left: 1rem;
    border-bottom: none;

    &--left {
      flex-basis: 63%;
    }

    &--right {
      display: none;

      @include large {
        display: flex;
      }

    }

  }

  &__ingredient-amount {
    @include large {
      flex-basis: 10%;
    }
  }

  &__ingredient-unit {
    @include large {
      flex-basis: 20%;
    }
  }

  &__ingredient-toggle {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
  }

  &__ingredient-title {
    flex-basis: 33%;
  }

  .mat-button-toggle-group {
    margin-bottom: 1rem;

    .mat-button-toggle-checked {
      background-color: $blue-grey_80;
      color: $blue-grey_10;
    }

    @include large {
      margin-right: $spacing-small;
      margin-bottom: 0;
    }
  }

  &__ingredients-button {
    padding: $spacing-small;

    @include large {
      padding: $spacing-medium 15rem 0 15rem;
    }
  }

  &__ingredient-icon-wrapper {
    flex: auto;
    background-color: $red_70;
    border-radius: $border-radius-default;
    @include button();

    &--disabled {
      background-color: $blue-grey_50;
      cursor: not-allowed;
    }

    @include large {
      background: none;
      border: none;
      width: fit-content;
      height: unset;
    }
  }

  &__ingredient-delete-icon {
    color: $red_70;
    cursor: pointer;
    margin: auto;
    font-size: $font-size-medium;
    visibility: hidden;

    @include large() {
      visibility: visible;
    }

    &--disabled {
      color: $blue-grey_10;
      cursor: not-allowed;

      @include large {
        color: $blue-grey_50;
      }
    }
  }

  &__ingredient-delete-text {
    color: $blue-grey_10;

    @include large() {
      display: none;
    }
  }
}

@include skeleton('.recipe__skeleton', $blue-grey_30, 3.5s) {
  background: $blue-grey_40;
  height: rem(24);
  margin: $spacing-small auto $spacing-medium $spacing-medium;
  border-radius: $border-radius-default;
  width: 90%;

  &:nth-child(2) {
    width: 75%;
  }

  &:nth-child(3) {
    width: 85%;
  }

  &:nth-child(4) {
    width: 80%;
    margin-bottom: $spacing-large;
  }
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  font-size: 0.5rem;
}




