<div class="container">
  <div class="recipe-form" *ngIf="(recipe$ | async) || isEmptyForm; else loading">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <app-input
        class="recipe-form__input recipe-form--input-title"
        [name]="'title'"
        [border]="false"
        [placeholder]="'recipe-form.label.title' | translate:translations:currentLanguage"
        [errors]="getErrorsFor('title')"
        [formControl]="getFormControl('title')"
        [e2eTestName]="'recipe-title'"
      ></app-input>
      <app-input
        class="recipe-form__input recipe-form--input-url"
        [name]="'url'"
        [border]="false"
        [placeholder]="'recipe-form.label.url' | translate:translations:currentLanguage"
        [formControl]="getFormControl('url')"
        [e2eTestName]="'recipe-url'"
      ></app-input>

      <div class="recipe-form__ingredients recipe-form__input">
        <div class="recipe-form__ingredients-row recipe-form__label-container">
          <label
            class="recipe-form__label-container--left">{{'ingredients.label-text' | translate:translations:currentLanguage}}</label>
          <label
            class="recipe-form__label-container--right">{{'ingredients.label-header' | translate:translations:currentLanguage}}</label>
        </div>
        <div *ngFor="let ingredient of ingredients.controls; let last = last; let index = index"
             class="recipe-form__ingredients-row"
             [ngClass]="{'ingredients__row--last': last}">
          <app-input
            class="recipe-form__ingredient-input recipe-form__ingredient-amount"
            [type]="'number'"
            [border]="false"
            [minValue]="0"
            [name]="'amount'"
            [placeholder]="'recipe-form.placeholder.amount' | translate:translations:currentLanguage"
            [formControl]="getIngredientFormControl(ingredient, 'amount')"
            [e2eTestName]="'ingredient-amount'"
          >
          </app-input>
          <app-select
            class="recipe-form__ingredient-input recipe-form__ingredient-unit"
            [options]="units"
            [border]="false"
            [name]="'unit'"
            [formControl]="getIngredientFormControl(ingredient, 'unit')"
            [e2eTestName]="'ingredient-unit'"
          >
          </app-select>
          <app-input
            class="recipe-form__ingredient-input recipe-form__ingredient-title"
            [name]="'title'"
            [border]="false"
            [placeholder]="'recipe-form.placeholder.title' | translate:translations:currentLanguage"
            [formControl]="getIngredientFormControl(ingredient, 'title')"
            [e2eTestName]="'ingredient-title'"
          >
          </app-input>
          <div class="recipe-form__ingredient-toggle">
            <mat-button-toggle-group
              [value]="false"
              [formControl]="getIngredientFormControl(ingredient, 'isStapleFood')">
              <mat-button-toggle
                [value]="true">{{(toggleLabelYesKey$ | async) || this.toggleLabelYesKey | translate:translations:currentLanguage}}</mat-button-toggle>
              <mat-button-toggle
                [value]="false">{{'recipe-form.toggle.no' | translate:translations:currentLanguage}}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <button
            class="recipe-form__ingredient-icon-wrapper"
            (click)="deleteIngredient(index)"
            [disabled]="ingredients?.length === 1"
            [ngClass]="{'recipe-form__ingredient-icon-wrapper--disabled': ingredients?.length === 1}">
            <fa-icon
              class="recipe-form__ingredient-delete-icon"
              [attr.aria-label]="'recipe-form.button.delete' | translate:translations:currentLanguage"
              [ngClass]="{'recipe-form__ingredient-delete-icon--disabled': ingredients?.length === 1}"
              [icon]="['fas', 'trash']">
            </fa-icon>
            <span
              class="recipe-form__ingredient-delete-text">{{'button.delete' | translate:translations:currentLanguage}}</span>
          </button>
        </div>
        <app-button
          class="recipe-form__ingredients-button"
          [buttonText]="'recipe-form.button.new-ingredient' | translate:translations:currentLanguage"
          [isDisabled]="ingredients.invalid"
          [color]="'accent'"
          (clicked)="addEmptyIngredientRow()"
          [e2eTestName]="'new-ingredient'"
        >
        </app-button>
      </div>
      <div class="recipe-form__button">
        <app-button
          [buttonType]="'submit'"
          [buttonText]="getButtonText() | translate:translations:currentLanguage"
          [isDisabled]="recipeForm.invalid && (recipeForm.touched || recipeForm.dirty)"
          [e2eTestName]="'create-recipe'"
        ></app-button>
      </div>
    </form>
  </div>

  <ng-template #loading>
    <div class="recipe__skeleton"></div>
    <div class="recipe__skeleton"></div>
    <div class="recipe__skeleton"></div>
    <div class="recipe__skeleton"></div>
  </ng-template>

</div>



