@import "../../../../../styles/settings/colors";
@import "../../../../../styles/settings/breakpoints";
@import "../../../../../styles/mixins/forms";
@import "../../../../../styles/mixins/style";
@import "../../../../../styles/settings/variables";
@import "../../../../../styles/settings/functions";

.recipe-form {

  &__input {
    display: block;
    margin-bottom: $padding-medium;
  }

  &__button {
    display: block;
    margin-top: $padding-large;
  }

  &__ingredients_label {
    @include label;
  }

  &__ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border: $border-primary;
    border-radius: $border-radius-default;
  }

  &__ingredients-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid $blue_70;
    padding: $padding-medium $padding-large;

    @include large {
      flex-direction: row;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__ingredient-input {
    padding-bottom: $padding-medium;
    flex: 1 1 auto;

    @include large {
      padding-bottom: 0;
      padding-right: $padding-medium;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__ingredient-amount {
    @include large {
      max-width: rem(128);
    }
  }

  &__ingredient-unit {
    @include large {
      max-width: rem(150);
    }
  }

  &__ingredient-toggle {
    margin-bottom: $padding-medium;
    color: $blue_70;
    @include large {
      max-width: rem(160);
      margin: auto 0;
    }
  }

  &__ingredients-button {
    margin: 0 $padding-large $padding-medium $padding-large;
  }

  &__ingredient-icon-wrapper {
    background-color: $red_70;
    border-radius: $border-radius-default;
    @include button();

    &--disabled {
      background-color: $blue-grey_50;
      cursor: not-allowed;
    }

    @include large {
      background: none;
      border: none;
      width: fit-content;
      height: unset;
    }
  }

  &__ingredient-delete-icon {
    color: $red_70;
    cursor: pointer;
    margin: auto;
    font-size: $font-size-medium;
    visibility: hidden;

    @include large() {
      visibility: visible;
    }

    &--disabled {
      color: $blue-grey_10;
      cursor: not-allowed;

      @include large {
        color: $blue-grey_50;
      }
    }
  }

  &__ingredient-delete-text {
    color: $blue-grey_10;

    @include large() {
      display: none;
    }
  }
}

@include skeleton('.recipe__skeleton', $blue-grey_30, 3.5s) {
  background: $blue-grey_40;
  height: rem(24);
  margin: $padding-small auto $padding-medium $padding-medium;
  border-radius: $border-radius-default;
  width: 90%;

  &:nth-child(2){
    width: 75%;
  }

  &:nth-child(3){
    width: 85%;
  }

  &:nth-child(4){
    width: 80%;
    margin-bottom: $padding-large;
  }
};



