@import "../settings/colors";
@import "../settings/variables";


@mixin form-errors {
  color: $red_70;
  font-size: small;
  font-weight: 400;
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin form-field {
  width: 100%;
  line-height: 1.3;
  border-radius: $border-radius-default;
  border: $border-primary;
  padding: $spacing-medium $spacing-small;
  background-color: transparent;

  &--border-accent {
    border: 1px solid $cyan_70;
  }

  &--border-error {
    border: 1px solid $red_70;
  }

  &--no-border {
    border: none;
  }

  &--border-bottom {
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    border-bottom: 1px solid $blue-grey_80;
  }
}

@mixin label {
  color: $blue-grey_80;
  padding-bottom: $spacing-small;
  display: block;
}

@mixin button {
  width: 100%;
  // height: 100%;
  border-radius: $border-radius-default;
  border-style:none;
  border-width:0;
  box-sizing:border-box;
  cursor:pointer;
  display:inline-block;
  font-size: $font-size-small;
  font-stretch:100%;
  font-style:normal;
  font-weight:500;
  line-height: rem(32);
  margin:0;
  outline-style:none;
  outline-width:0;
  overflow:visible;
  padding-left: 0 $spacing-medium;
  position:relative;
  text-align:center;
  vertical-align:baseline;
  white-space:nowrap;
  transition-duration: 0.2s;
  cursor: pointer;
}

@mixin buttonColors {
  color: $blue-grey_10;
  background-color: $blue_90;

  &:hover{
    background-color: $blue_60;
  }

  &:active {
    background-color: $blue_60;
  }

  &:focus {
    background: $blue_60;
    outline: 2px solid $blue_90;
  }

  &--no-left-border-radius{
    border-radius: 0 rem(4) rem(4) 0;
  }

  &--color-inverted{
    background-color: #ffffff;
    color: $blue_100;
    font-weight: 400;

    &:hover{
      background-color: $blue-grey_10;
    }

    &:active {
      background-color: $blue-grey_10;
    }

    &:focus {
      background-color: $blue-grey_10;
      outline: 2px solid $blue_90;
    }
  }

  &--color-accent{
    background-color: $cyan_90;
    color:$cyan_10;

    &:hover{
      background-color: $cyan_60;
    }

    &:active {
      background-color: $cyan_80;
    }
  }

  &--color-warning{
    background-color: $red_70;
    color: $red_10;

    &:hover{
      background-color: $red_60;
    }

    &:active {
      background-color: $red_80;
    }
  }

  &--color-disabled{
    background-color: $blue-grey_50;
    cursor: not-allowed;

    &:hover,
    &:active{
      background-color: $blue-grey_50;
    }

  }

  &--warning-border{
    border: rem(2) solid $red_70;
    border-left: none;
  }
}

@mixin buttonIcons {
  .icon-left{
    padding-right: $spacing-medium;
  }

  .icon-right{
    padding-left: $spacing-medium;
  }
}

@mixin authform {
  &__field {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
  }

  &__input {
    background: none;
    border: none;
    padding: $spacing-small 0;
    display: block;
    flex-grow: 1;
  }

  &__icon {
    color: $blue_grey_70;
    padding-right: $spacing-medium;
    width: rem(32);

    &--padding-left {
      padding-right: 0;
      padding-left: $spacing-medium;
    }

  }

  &__helper {
    width: 80%;
    margin: 0 auto;
    font-size: $font-size-tiny;
    color: $blue_grey_60;
  }

  &__hint {
    padding-bottom: $spacing-medium;
    user-select: none;
  }

  &__hint:last-child {
    padding-bottom: 0;
  }

  &__link {
    color: $blue_80;
  }
}
