@import "../settings/functions";

@mixin skeleton($element, $animation-color, $animation-speed) {
  #{$element}:empty {
    @content;
    position: relative;
    overflow: hidden;
  }

  #{$element}:empty::before {
    content: '';
    display: block;
    position: absolute;
    left: rem(-150);
    top: 0;
    height: 100%;
    width: rem(30);
    background: linear-gradient(to right, transparent 0%, #{$animation-color} 50%, transparent 100%);
    animation: load #{$animation-speed} linear infinite;
  }
}

@keyframes load {
  0% {
    left: rem(-150);
  }
  30%   {
    left: 100%;
  }
  100%   {
    left: 100%;
  }
}
