<nav class="main-navigation">
  <div class="container main-navigation__content">
    <div class="main-navigation__wrapper">
      <img class="main-navigation__logo" src="../../../assets/logo-inverted.png" [routerLink]="['/']">
      <div class="desktop-navigation" *ngIf="isLoggedIn">
        <ul class="desktop-navigation__link-list" data-test="desktop-navigation">
          <li class="desktop-navigation__link-list-element">
            <a [routerLink]="['/meal-planer']"
               class="desktop-navigation__link"
               routerLinkActive="desktop-navigation__link--active">
              {{'app.navigation.planer' | translate:translations:currentLang}}
            </a>
          </li>
          <li class="desktop-navigation__link-list-element">
            <a [routerLink]="['/cook-book']"
               class="desktop-navigation__link"
               routerLinkActive="desktop-navigation__link--active">
              {{'app.navigation.menus' | translate:translations:currentLang}}
            </a>
          </li>
          <li class="desktop-navigation__link-list-element">
            <a [routerLink]="['/shopping-list']"
               class="desktop-navigation__link"
               routerLinkActive="desktop-navigation__link--active">
              {{'app.navigation.shopping-list' | translate:translations:currentLang}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-navigation__actions">


      <app-button *ngIf="isLoggedIn; else registerTemplate"
                  [buttonText]="'app.navigation.logout' | translate:translations:currentLang"
                  color="inverted" (click)="onLogout()"
                  class="main-navigation__primary-action"
                  data-test="logout-button"></app-button>


      <ng-template #registerTemplate>
        <a class="main-navigation__secondary-action"
           [routerLink]="['/auth/login']"
           data-test="login-link">
          {{'app.navigation.login' | translate:translations:currentLang}}
        </a>

        <a          [routerLink]="['/auth/register']"
                    class="main-navigation__primary-action"
                    data-test="register-link">
          {{'app.navigation.register' | translate:translations:currentLang }}
        </a>
      </ng-template>
    </div>
  </div>
</nav>


<nav *ngIf="isLoggedIn" class="mobile-navigation">
  <ul class=mobile-navigation__link-list data-test="mobile-navigation">
    <li class="mobile-navigation__link-list-element">
      <a class="mobile-navigation__link" [routerLink]="['/meal-planer']"
         routerLinkActive="mobile-navigation__link--active">
        <fa-icon class="shopping-list__ellipsis mobile-navigation__link-icon"
                 [icon]="['fas','calendar-alt']"></fa-icon>
        <span
          class="mobile-navigation__link-text">{{'app.navigation.planer' | translate:translations:currentLang}}</span>
        <div
          class="mobile-navigation__status"></div>
      </a>
    </li>

    <li class="mobile-navigation__link-list-element">
      <a class="mobile-navigation__link" [routerLink]="['/cook-book']"
         routerLinkActive="mobile-navigation__link--active">
        <fa-icon class="shopping-list__ellipsis mobile-navigation__link-icon"
                 [icon]="['fas','hamburger']"></fa-icon>
        <span
          class="mobile-navigation__link-text">{{'app.navigation.menus' | translate:translations:currentLang}}</span>
        <div class="mobile-navigation__status"></div>
      </a>
    </li>

    <li class="mobile-navigation__link-list-element">
      <a class="mobile-navigation__link" [routerLink]="['/shopping-list']"
         routerLinkActive="mobile-navigation__link--active">
        <fa-icon class="shopping-list__ellipsis mobile-navigation__link-icon"
                 [icon]="['fas','shopping-cart']"></fa-icon>
        <span
          class="mobile-navigation__link-text">{{'app.navigation.shopping-list' | translate:translations:currentLang}}</span>
        <div class="mobile-navigation__status"></div>
      </a>
    </li>
  </ul>
</nav>
